
/UI/bin
/UI/obj
/Database/bin
/Database/obj
/Logger/bin
/Logger/obj
/Master/bin
/Master/obj
/Settings/obj
/Settings/bin
/ATM/bin
/ATM/obj
/BarCode/obj
/BarCode/bin
/StockMaster/bin
/StockMaster/obj
/ClientUI/bin
/ClientUI/obj
/VKTest/obj
/VKTest/bin
/CashDesk/bin
/CashDesk/obj
/Master/bin
/Master/obj